* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif;
}

.container{
    background-color: rgb(0, 76, 255);
    color: white;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container h1{
    width: 25%;
    padding: 5%;
}

.container nav{
    margin-top: 40px;
    margin-right: 40px;
}

.menu{
    list-style: none;;
}

.menu a{
    color: white;
    text-decoration: none;
} 

.conteudo{
    background-color: #ccc;
}

.sobre{
    margin: 10px;
}

.sobre img{
   width: 100%;
   padding: 5%;
    
}

.sobre h2{
    color: rgb(0, 128, 255);
    padding: 2%;
    border-bottom: 3px solid;
    margin-bottom: 8px;
}

.sobre p{
    font-weight: 200;
    font-size: 0.8em;
}

.produtos{
    margin: 10px;
}

.produtos h2{
    color: rgb(0, 128, 255);
    padding: 2%;
    border-bottom: 3px solid;
    margin-bottom: 8px;
}

.lista-produtos img{
    width: 100%;
    padding: 5%;
    margin-top: 8px;
}

.lista-produtos p{
    font-weight: 200;
    font-size: 0.8em;
    margin: 8px 0;
}

.lista-produtos button{
    margin-left: 10%;
    margin-top: 8px;
    width: 80%;
    height: 35px;
    color: white;
    font-weight: 700;
    background-color: rgb(0, 128, 255);
}

